<li [class.editing]="editing" [class.completed]="item.completed">

    <ng-container *ngIf="!editing; else formEditing">
      <div class="view" >
      <input class="toggle" type="checkbox" (click)="updateCheckBoxs(item)" [checked]="item.completed"  />
      <label  (dblclick)="OnEditing()">{{item.whatToDo}}</label>
      <button class="destroy" (click)="delete.emit()"></button>
    </div>
    </ng-container>
    <ng-template #formEditing>
      <input
      #updateForm
      class="edit"
      type="text"
      [value]="item.whatToDo"
      (keyup.enter)="Onupdate(updateForm,item)"
      />
    </ng-template>


    </li>

