<footer class="footer">
  <span class="todo-count">
      <strong>{{length}}</strong>
      <span> </span>
      <span>Items</span>
      <span> left</span>
  </span>
  <ul class="filters" >
    <li  *ngFor="let item of filterBtn ">
      <a
          [routerLink]="['/']"
          [class]="item.isActive ?'selected':''"
          (click)="handleClick(item.title )"
      >
      {{item.title}}
      </a>
  </li>
  </ul>
  <button *ngIf="clears" class="clear-completed" (click)="handleClear()"  >Clear completed</button>
</footer>
